.home {
  background: whitesmoke;
}

.index {
  margin-bottom: 50px;
  text-align: center;
}

.list {
  margin-left: auto;
  margin-right: auto;
  text-align: left
}

.new {
  background: lightgreen;
  text-align: center;
}

.new-button {
  background: green;
  font-weight: bold;
  color: white;
}

.edit {
  background: rgb(241, 241, 113);
  text-align: center;
}

.edit-button {
  background: yellow;
  font-weight: bold;
}

.delete {
  background: lightcoral;
  text-align: center;
}

.delete-button {
  background: red;
  font-weight: bold;
  color: white;
}