@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.btn-green {
  background: green;
  font-size: 15px;
  font-weight: bolder;
}

.btn-red {
  background: red;
  font-size: 15px;
  font-weight: bolder;
}

.top-bar {
  background: #A2FFF9;
  font-size: 20px;
  font-weight: bolder;
}

.box-index {
  background: #EDEDED;
  font-size: 15px;
  font-weight: bolder;
}

.div-color {
  background-color: gainsboro;
}